@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Quicksand&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;

}

/* SIDEBAR */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: rgb(107, 93, 193);
  z-index: 1000;

}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: white;
}

#dumbbell {
  color: rgb(207, 102, 173);
  min-width: 60px;
  display: flex;
  justify-content: center;
  
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;

}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;

}

/* to highlight the icon when the link is active */
.parent.active .child {
  color: rgb(207, 102, 173);
  cursor: default;

}

/* to highlight the icon when i hover over */
.parent:hover .child {
  color: rgb(207, 102, 173);

}

/* to highlight the whole bar when it is active */
.active {
  background: rgb(155, 143, 225);

}

#sidebar .side-menu li a.logout {
  color: rgb(254, 111, 94);

}

/* to highlight the whole bar when i hover over */
#sidebar .side-menu li:hover {
  background: rgb(155, 143, 225);
  transition: 0.3s;

}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: white;

}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - (4px + 6px * 2));
  display: flex;
  justify-content: center;

}
/* SIDEBAR */


/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;

}


/* NAVBAR */
#content nav {
  height: 56px;
  background: rgb(107, 93, 193);
  padding: 0 24px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: relative;

}

#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  background: var(--blue);
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);

}

#content nav a {
  color: white;

}

#content nav h4 {
  color: white;
}

#content nav a:hover {
  color: rgb(207, 102, 173);
  transition: 0.2s;

}

#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;

}

#content nav .form-input {
  color: white;
  border: 1px solid rgb(196, 188, 242);
  background: transparent;
  position: relative;
  border-radius: 15px 15px 15px 15px;
  padding: 3px 50px 3px 10px;

}

#content nav .form-input input {
  background: transparent;
  outline: none;
  height: 35px;
  font-size: 15px;
  border: 0;
  width: 100%;
  color: white;

}

#content nav .form-input button {
  position: absolute;
  right: 4px;
  top: 4px;
  background: transparent;
  border-radius: 50%;
  border: 0;
  color: #FFF;
  width: 35px;
  height: 35px;
  outline: 0;
  cursor: pointer;

}

#content nav .mail {
  font-size: 20px;
  position: relative;

}

#content nav .notification {
  font-size: 20px;
  position: relative;
  
}

#content nav .profile {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 15%;
  
}

/* CONTENT */


/* MAIN */
#content .main {
  width: 100%;
  padding: 36px 24px;

}

/* main {
  background-color: rgb(39, 31, 83);

} */
body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;

}

body > main h1:first-child {
  margin-bottom: 50px;

}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-exercise-form *,
#add-routine-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-routine-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-exercise-form input[type="submit"],
#add-routine-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
}

/* MAIN */