<%- include('../partials/header') %>

<table>
    <thead>
    <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Repetitions</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table><br><br>

<form id="add-exercise-form" action="/exercises/<%= exercise.id %>?_method=PUT" method="POST" autocomplete="off">
    <label>Update Exercise Name:</label>
    <input type="text" name="exerciseName">
    <label>Sets:</label>
    <input type="number" name="sets">
    <label>Repetitions:</label>
    <input type="number" name="repetitions">
    <input type="submit" value="Update Exercise">
</form>

<%- include('../partials/footer') %>